<div ng-init="redirectHandler2('ROLE_ADMINISTRADOR')"></div>
<div ng-init="ctrlUserList.getUsers()"></div>
<div class="container">
    <div class="col-xs-12 col-top" style="
    text-align: right;">
        <a class="btn btn-info col-md-2" style="margin: 13px;width: 15%;border-radius: 14px; background-color: #003399; color:white" href="http://localhost:8080/#!/admin/user/register">Registrar usuarios</a>
    </div>
    <table class="table" id="users" style=" background: rgba(255, 255, 255, 92%); padding: 18px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Rol</th>
                <th scope="col">Salario</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersList" repeat-done="initDataTable">
                <td scope="col">{{$index+1}}</td>
                <td scope="col" class="text-truncate">{{user.name}} {{user.lastname}} {{user.surname}}</td>
                <td scope="col">{{user.username}}</td>
                <td scope="col">{{user.phone}}</td>
                <td scope="col">{{user.roles.alias}}</td>
                <td scope="col">{{user.salary}}</td>
            </tr>
        </tbody>
    </table>
</div>